@use 'common';

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .form {
    width: 100%;
    flex-direction: column;
  }
}
